header nav{
    background-color: blue;
    width:100%;
    display:flex;
    justify-content: center;
    padding:7px 20px;
}
header nav a{
    margin:15px;
}
main{
    display:flex;
}
main{
    justify-content:space-between;
}
div img{
    position:relative;
    top:14px;
}
h1{
    color:black;
    font-size: xx-large;
    text-align:center;
} 
.par{
    color:black;
    font-style: oblique;
    font-weight: bolder;
}
button hover{
    background-color:aqua;
}


.mina ,.mina1 ,#test{
     border-style:groove;
    background-color: azure;
    background-size: cover;
    padding:5px;
    margin: 6px;
}

.i{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    
    
    text-align: center;
}
.mina{
    grid-column: 1/2;
}
.p{
    border-style: groove;
    background-color: azure;
    background-size: cover;
    padding:5px;
    margin:6px;
    
    grid-column: 1/3;
    grid-row: 2/-1;

}
.mina1{
    grid-column: 2/3;
}
#test{
    grid-column: 3/-1;
    grid-row: 1/-1;
}